<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Group / <%= name %> <span style="font-size: medium" class="text-muted"><%= info %></span><p>
            <% if (user_lvl >= 2){%>
            <button type="button" style="margin: 0; padding: 2px;" class="btn btn-primary" data-toggle="modal" data-target="#editGroup">Edit Group</button>
            <%}%>
            <%if (user_lvl >= 1){%>
            <button type="button" style="margin: 0; padding: 2px;" class="btn btn-primary" data-toggle="modal" data-target="#newThread">New Thread</button>
            <%}%>
            </p>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="modal fade" id="editGroup" tabindex="-1" role="dialog" aria-labelledby="modGroup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="modGroup">Edit Group</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Group name</label>
                        <input id="edit-g_name" data-val="<%= name %>" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input id="edit-g_desc" data-val="<%= info %>" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group" style="position:relative;">
                        <label>Members</label>
                        <%
                        var m_list = [];
                        var m_name = [];
                        var m_lvl = [];
                        for (var i = 0; i < memberList.length; i++){
                            if (memberList[i].u_id != user_id){
                                m_list.push(memberList[i].u_id);
                                m_name.push(memberList[i].name);
                                m_lvl.push(memberList[i].lvl);
                            }
                        }%>
                        <p id="edit-m_list" data-m_list="<%= JSON.stringify(m_list) %>" data-m_name="<%= JSON.stringify(m_name) %>" data-m_lvl="<%= JSON.stringify(m_lvl) %>" class="help-block"></p>
                        <div style="position:relative;">
                            <input id="edit-member-box" type="text" class="form-control" placeholder="Add Member">
                            <div id="edit-member-res" class="search-res"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="edit-g-error" class='alert alert-danger' style="display: none; margin-bottom: 0"></div>
            <div id="edit-g-success" class='alert alert-success' style="display: none; margin-bottom: 0"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-edit" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="newThread" tabindex="-1" role="dialog" aria-labelledby="createThread" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="createThread">New Thread</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Thread Title</label>
                        <input id="t-title" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea id="t-msg" class="form-control" rows="4" style="resize: vertical;" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <label>File input*</label>
                        <input id="t-file" type="file" multiple>
                    </div>
                    <div id="t-sched" class="form-group">
                        <label>Schedule Meeting*</label>
                            <label class="radio-inline">
                                <input type="radio" name="s_options" id="s_group" value="0" checked>Group
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="s_options" id="s_individual" value="1">Individual
                            </label>
                        <br><a id="add-sched" style="cursor:pointer;">Add Option</a>
                    </div>
                    <p class="help-block">*optional</p>
                </form>
            </div>
            <div id="t-error" class='alert alert-danger' style="display: none; margin-bottom: 0"></div>
            <div id="t-success" class='alert alert-success' style="display: none; margin-bottom: 0"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-thread" type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- /.row -->
<div class="row">
    <div class="col-lg-9">
        <%if (threadList.length != 0){%>
        <div class="panel panel-default">
            <div class="panel-heading">Threads
                <ul style="margin-top: -7px;" class="pagination pull-right">
                    <li id="t-prev" style="cursor:pointer" class="paginate_button previous disabled">
                        <a><</a>
                    </li>
                    <li class="paginate_button active" >
                        <a><span id='t-current' data-thread = "<%= JSON.stringify(threadList) %>">1</span>/<%= threadList.length%></a>
                    </li>
                    <li id="t-next" style="cursor:pointer" class="paginate_button next disabled">
                        <a>></a>
                    </li>
                </ul>
            </div>

            <div class="panel-body">
                <span class='pm-img pull-left' style="width: 100px;">
                    <div class="img-circle profile-img"><p id="tc-author-init"></p></div><a id="tc-author" href=""></a><p class="help-block" id="tc-timestamp"></p>
                </span>
                <h3 id="tc-title"></h3>
                <p class="justify" id="tc-message"></p>
            </div>
            <div style="display:none;" class="form-group well well-sm">
                <label>Uploaded Documents</label>
                <ul id="tc-file" class="list-inline"></ul>
            </div>
            <div id="tc-sched" style="display:none;" class="form-group well well-sm">
                <label></label>
                <p class='help-block'></p>
                <button id="btn-pref" class="btn btn-default">Save</button>
                <div id="s-success" class='alert alert-success' style="display: none; margin-bottom: 0"></div>
            </div>
            <div class="panel-footer">

                <ul id="tc-comment" class="pm"></ul>

               <div class="input-group">
                   <textarea id="input-comment" class="form-control" rows="4" style="resize: vertical;" placeholder="Message"></textarea>
                   <span class="input-group-btn">
                       <button id="btn-comment" class="btn btn-primary btn-sm" id="send">Send</button>
                   </span>
               </div>
           </div>
       </div>
        <%} else {%>
        <div id="no-thread-info" class="alert alert-info">This group has no active threads</div>
        <%}%>
   </div>
   <!-- /.col-lg-6 -->
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Members
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
               <ul class="list-unstyled">
                   <%for (var i = 0; i < memberList.length; i++){%>
                        <li><% if (memberList[i].u_id != user_id){%>
                            <a href="/member/<%= memberList[i].u_id%>"><%= memberList[i].name%></a>
                            <%} else{%><%= memberList[i].name%><%}%>
                            <% if (memberList[i].lvl == 2){%>(admin)
                            <%} else if (memberList[i].lvl == 1){%>(mod)<%}%>
                        </li><%}%>
               </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

